
.header {
    background-image: url(_.jpeg);
    background-size: cover;
    background-color:lightgrey;
    color:white;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    width: 1500px;
    z-index: 1000;
    
}

nav ul {
list-style: none;
padding: 0;
margin: 0;
display: flex;
gap: 20px;


}

nav ul li {
color: azure;
display: inline-block;
margin-right: 30px;
text-align: center;

}

.nav a {
    background-color: #3e0905;
    color: whute;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.nav a:hover {
background-color: #e63946;

}

input[type="search"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {

padding: 5px 10px;
background-color: #e63946;
color: white;
border: none;
border: 5px;
cursor: pointer;

}

button:hover {

    background-color: #c72c3a;


}

main {

    padding: 20px;
    text-align: center;
}

h1{
    color: #3e0905;
    font-family: 'Times New Roman', serif;
    font-size: 3em;
}

h2 {
    color: #555;
    font-size: 1.5em;
    margin-bottom: 20px;
}

p{
color: #666;
font-size: 1.2em;
margin: 20px auto;
max-width: 800 px;
line-height: 1.6;

}

.image-row {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 40 px 0;

}

.image-container img {
width: 100%;
height: auto;
border-radius: 10px;
box-shadow: 0 4px 8px rgba( 0, 0, 0, 0.2);
transition: transform 0.3s; box-shadow: 0.3s;

}

.image-container img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 12px rgba( 0, 0, 0, 0.3);
}

.image-text {
    margin-top: 10px;
    font-size: 1.2em;
    color: gray;
    font-weight: bold;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding:0;
    background-color: White;
    color: ;
}










