
.header {
    background-image: url(_.jpeg);
    background-color:lightgrey;
    color:white;
    height: 80px;
    width: 1500px;
    
}
li {
    padding: 20px 20px 20px 20px ;
    text-align: center;
   
}
.nav a:link, a:visited {
    background-color: #3e0905;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
nav ul li {
    color: azure;
    display: inline-block;
    margin-right: 30px;
}
.pic{
color:gray;
 height: 3500px;
 width: 2500px;
 margin: 50px;
}
img{

    height: 3500px;
    width: 2500px;
    margin: 50px;
    height: 300px;
    width: 200px;
}
.red{
   
    background-color: rgb(43, 1, 1);
    color:whitesmoke;
    align-content: center;
    
}
.fix{
    background-color: rgba(60, 1, 1, 0.892);
}